openapi: 3.0.3
info:
  title: AppOmni SaaS Security Compliance API
  description: API for the AppOmni SaaS security management platform, providing access to security events, policy management, compliance reporting, and threat detection across enterprise SaaS applications like Salesforce, Microsoft 365, and Slack.
  version: 1.0.0
  contact:
    name: AppOmni
    url: https://www.appomni.com
  license:
    name: Proprietary
servers:
- url: https://api.appomni.com/v1
  description: AppOmni SaaS Security API
security:
- bearerAuth: []
tags:
- name: Compliance
  description: Compliance reporting and audit management
paths:
  /compliance/reports:
    get:
      operationId: listComplianceReports
      summary: AppOmni - List Compliance Reports
      description: Returns a list of compliance reports generated by AppOmni
      tags:
      - Compliance
      responses:
        '200':
          description: A list of compliance reports
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ComplianceReport'
              examples:
                ListReportsExample:
                  x-microcks-default: true
                  summary: Example compliance reports list
                  value:
                    data:
                    - reportId: RPT-2026-Q1
                      framework: SOC2
                      period: Q1 2026
                      status: complete
                      generatedAt: '2026-04-01T00:00:00Z'
        '401':
          description: Unauthorized - invalid or missing authentication token
components:
  schemas:
    ComplianceReport:
      title: ComplianceReport
      description: A compliance report generated by AppOmni
      type: object
      properties:
        reportId:
          type: string
          description: Unique report identifier
        framework:
          type: string
          description: Compliance framework (SOC2, ISO27001, HIPAA, etc.)
        period:
          type: string
          description: Reporting period
        status:
          type: string
          enum:
          - generating
          - complete
          - failed
          description: Report generation status
        generatedAt:
          type: string
          format: date-time
          description: When the report was generated
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
